.bookingsLayout{
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    row-gap: 5px;
}
.bookingsHeader{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 100%;
}
.bookingsFilters{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px double lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.bookingsContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
}
.contentActions{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    column-gap: 5px;
}