.filterLayout{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}
.filterRow{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    width: 100%;
}
.filterFormGroup{
    width: 40%;
}