@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.menuItem {
  max-width: none;
}

.cardContainer {
  background-color: $ui-02;
  display: flex;
  padding: layout.$spacing-05;
  flex-flow: row wrap;
  gap: layout.$spacing-05;
  align-items: stretch;
}

.cardContainer > * {
  flex: 1 0 0%;
  min-width: 25rem;
  max-width: 35rem;
}

.cardHeaderStack {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
